/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-boxes {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.box {
  position: absolute;
  height: auto;
  background: #f2f2f2;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 4px;
  border-style: solid;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-size: 3vw;
}

.box--pink {
  color: #f4c6a2;
  border-color: #f4c6a2;
  width: 15vw;
  padding: 4px 8px;
}

.box--pink svg {
  width: 2.5vw;
  height: 2.5vw;
  margin-left: 10px;
}

.box--green {
  color: #6cb677;
  border-color: #6cb677;
  border-radius: 40px;
  padding: 6px 18px;
}

/* debug */
/* .box--pink:nth-child(odd) {
  border-color: red !important;
} */
